/* ----------Index page settings----------- */

section#section__landing {
    .container__landing--background {
        width: 100vw;
        height: 100vh;
        background: url(/images/backgrounds/landingBackground/indexLandingBG.svg) no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
        display: flex;

        img#candy--gun {
            width: 80%;
            align-self: flex-end;
            position: relative;
            right: -208rem;

        }
    }
}   